/* You can add global styles to this file, and also import other style files */

#speaker-controls {
    font-size: 14px !important;
}

.reveal code {
    background-color: white;
    color: blue;
    padding: 5px;
}

.inner-section {
    padding: 20px 0 !important;
}

.ch {
    display: flex;
    flex-direction: row;
}

.cv {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

li {
    margin-bottom: 10px;
}

.reveal em {
    font-style: italic;
    border-bottom: 1px solid;
}

.mes-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mon-nom {
    font-family: Fascinate, sans-serif;
    font-size: 2.5em;
    color: #ef1757;
    margin-bottom: 0.5em;
}

.twitter {
    text-decoration: line-through;
}

.max {
    color: #000;
    font-weight: bold;
}

.digital {
    color: #ee2f33;
    font-weight: bold;
}

.serv {
    color: rgb(240, 101, 41);
    font-weight: bold;
}